<!-- nav header   -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-3 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#bgcolor">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#project">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- nav bar  -->
  <!-- <p>home works!</p> -->
  <!-- <header class="header">
    <a href="#" class="Logo">Portfolio</a>
    <i class="fa-solid fa-bars"></i>
  <nav class="navbar">
    <a href="#Home">Home</a>
    <a href="#About">About</a>
    <a href="#Services">Services</a>
    <a href="#Portfolio">Portfolio</a>
    <a href="#Contact">Contact</a>
  </nav>
  </header> -->
  
  <!-- home section  -->
  <!-- <section class="home">
    <div class="home-container">
      <h3>Hi, Myself</h3>
      <h1>sivababu</h1>
      <h3>And I'm Frontend Developer</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi praesentium quod tempora ipsam! Dolore, consectetur. Eum vitae laudantium est in dicta eos perferendis eaque error?
      </p>
      <div class="social-media">
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-solid fa-envelope"></i></a>
      </div>
      <a href="#" class="btn">Download CV</a>
    </div>
  </section> -->
  
  <div class="container-fluid" id="bgcolor">
    <div class="container">
    <div class="row">
      <div class="col-md-6 home-space">
        <h3>Hi, Myself</h3>
        <h1>Sivababu</h1>
        <h3>And I'm a Frontend Developer</h3>
        <p> passion for creating dynamic and user-friendly websites using WordPress technology. Proficient in front-end
          development languages such as HTML, CSS, and JavaScript, with a focus on crafting visually appealing and
          functional websites. Strong problem-solving skills and a keen eye for design, dedicated to delivering high-quality
          websites tailored to client needs. Eager to continue learning and expanding skills in the ever-evolving field of
          web development.</p>
        <a href=""><i class="fa-brands fa-linkedin icon-size"></i></a>
        <a href=""><i class="fa-solid fa-phone icon-size"></i></a>
        <a href=""><i class="fa-brands fa-twitter icon-size"></i></a>
        <a href=""><i class="fa-solid fa-envelope icon-size"></i></a>
        <br>
        <a href="/assets/imgs/sivababuresume (3).pdf" download="sivababu_resume"><button class="button">Download CV</button></a>
      </div>
      <div class="col-md-6">
        <!-- <img src="/assets/imgs/portfolioimg.png" class="home-img" alt=""> -->
        <img src="/assets/imgs/portfolioimg.png" class="home-img" alt="">
      </div>
    </div>
  </div>
  </div>
  
  <!-- mobile view   -->
  <div class="container-fluid" id="mobile_view_top">
    <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/assets/imgs/portfolioimg.png" class="home-img" alt="">
      </div>
      <div class="col-md-6 home-space">
        <h3>Hi, Myself</h3>
        <h1>Sivababu</h1>
        <h3>And I'm a Frontend Developer</h3>
        <p> passion for creating dynamic and user-friendly websites using WordPress technology. Proficient in front-end
          development languages such as HTML, CSS, and JavaScript, with a focus on crafting visually appealing and
          functional websites. Strong problem-solving skills and a keen eye for design, dedicated to delivering high-quality
          websites tailored to client needs. Eager to continue learning and expanding skills in the ever-evolving field of
          web development.</p>
        <a href=""><i class="fa-brands fa-linkedin icon-size"></i></a>
        <a href=""><i class="fa-solid fa-phone icon-size"></i></a>
        <a href=""><i class="fa-brands fa-twitter icon-size"></i></a>
        <a href=""><i class="fa-solid fa-envelope icon-size"></i></a>
        <br>
        <a href="/assets/imgs/sivababuresume (3).pdf" download="sivababu_resume"><button class="button_mobile">Download CV</button></a>
      </div>
    </div>
  </div>
  </div>
  <!-- About section  -->
   <div class="container-fluid" id="bgcolor-about">
    <div id="about">
    <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/assets/imgs/graphicimg.avif" class="about_section_img" alt="">
      </div>
      <div class="col-md-6">
        <h2 class="about_text">About Me</h2>
        <!-- <h3>Frontend Developer</h3> -->
        <p> Hello, my name is Sivababu Kollu. I have one year of experience working in both Angular frontend development and WordPress. My technical skills include HTML, CSS, and JavaScript for building and styling responsive web pages. I am also proficient in working with the Angular framework for frontend development. In addition, I have experience in C# programming, .NET for backend development, and SQL for database management. Throughout my career, I’ve worked on both dynamic web applications and content management systems, allowing me to handle a range of development tasks efficiently..
        </p>
        <button class="button">Read More</button>
      </div>
    </div>
    </div>
  </div>
   </div>
  <!-- About section  -->
  
  <!-- My Services  -->
   <div class="container-fluid" id="bgcolor-Services" >
    <div id="services">
    <div class="container">
      <!-- <h2>Services</h2> -->
    <div class="row">
      <div class="col-md-4">
        <div class="card service_icon" style="width: 100%;">
          <i class="fa-solid fa-code"></i>
          <div class="card-body">
            <h5 class="card-title service_title">Frontend Technologies</h5>
            <p class="card-text text_service">HTML: Structures web content.
              CSS: Styles and formats web pages.
              JavaScript: Adds interactivity and dynamic features.
              Bootstrap: Provides responsive, pre-designed components.
              Angular: A framework for building single-page web applications.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card service_icon" style="width: 100%;">
          <!-- <i class="fa-solid fa-code"></i> -->
          <i class="fa-brands fa-wordpress"></i>
          <div class="card-body">
            <h5 class="card-title service_title">WordPress Skills</h5>
            <p class="card-text text_service">Elementor & Elementor Pro: Drag-and-drop page builders.
              WPForms: Form creation plugin.
              UpdraftPlus: Backup and restore tool.
              Elementor Header & Footer Builder: Custom header/footer design.
              All-in-One WP Migration: Website migration tool.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card service_icon" style="width: 100%;">
          <!-- <i class="fa-solid fa-code"></i> -->
          <i class="fa-brands fa-uncharted"></i>
          <div class="card-body">
            <h5 class="card-title service_title">SQL</h5>
            <p class="card-text text_service">Manage and manipulate databases.
              Retrieve, insert, update, and delete data.
              Create and modify database structures.
              Write complex queries for data extraction.
              Work with relational databases like MySQL, and SQL Server.
              </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
   </div>
   
  <!-- My Services  -->
  
  <!-- Latest Projects -->
  
   <section class="project" id="project">
    <h2 class="heading">
      latest<span> Projects</span>
    </h2>
    <div class="container" id="project_box">
    <div class="project-container">
      <div class="project-box">
          <img src="/assets/imgs/projects.webp" id="project_img" alt="">
            <div class="project-layer">
              <h5>Build Responsive Angular Website.
               <p >The simple responsive website project
                developed by using HTML, CSS, TypeScript,
                Bootstrap and Angular frame works. This
                project is a responsive (mobile/desktop) and
                lightweight HTML/CSS template for
                building.
                </p>
                <i class="fa-solid fa-up-right-from-square"></i>
              </h5>
            </div>
        </div>
        <div class="project-box">
          <img src="/assets/imgs/project2.jpg" id="project_img" alt="">
            <div class="project-layer">
              <h5>Build Responsive Wordpress Website.
               <p>Inthis project I used WordPressplugins and
                themes to develop this website and it's
                Perform a (CRUD) Operations like Create,
                Read, Update and Delete and it's supported
                the responsiveness of every device screen
                sizes like the content was perfectly support's
                the (Mobiles, Tablets and Laptops).
                </p>
                <i class="fa-solid fa-up-right-from-square"></i>
              </h5>
            </div>
        </div>
        <div class="project-box">
          <img src="/assets/imgs/project3.webp" id="project_img" alt="">
            <div class="project-layer">
              <h5>Project Links
                <p>
               <a href="https://jitubarbers.com/">Project 1</a>
               <a href="https://amazant.com/">Project 2</a>
               <a href="https://gsmtrust.org/">Project 3</a>
               <a href=""></a>
              </p>
                <i class="fa-solid fa-up-right-from-square"></i>
              </h5>
            </div>
        </div>
      </div>
    </div>
   </section>
  
  <!-- Latest Projects -->
  
  <!-- latest project in mobile  -->
  
  <!-- latest project in mobile  -->
  <section class="project" id="project1">
    <h2 class="heading">
      latest<span> Projects</span>
    </h2>
    <div class="container" id="project_box">
    <div class="project-container">
      <div class="project-box">
          <img src="/assets/imgs/projects.webp" id="project_img" alt="">
            <div class="project-layer">
              <h5>Build Responsive Angular Website.
               <p >The simple responsive website project
                developed by using HTML, CSS, TypeScript,
                Bootstrap and Angular frame works. This
                project is a responsive (mobile/desktop) and
                lightweight HTML/CSS template for
                building.
                </p>
                <i class="fa-solid fa-up-right-from-square"></i>
              </h5>
            </div>
        </div>
      </div>
    </div>
   </section>
   <!-- <section class="project" id="project1">
    <div class="container" id="project_box">
      <div class="project-box">
        <img src="/assets/imgs/project2.jpg" id="project_img" alt="">
          <div class="project-layer">
            <h5>Build Responsive Wordpress Website.
             <p>Inthis project I used WordPressplugins and
              themes to develop this website and it's
              Perform a (CRUD) Operations like Create,
              Read, Update and Delete and it's supported
              the responsiveness of every device screen
              sizes like the content was perfectly support's
              the (Mobiles, Tablets and Laptops).
              </p>
              <i class="fa-solid fa-up-right-from-square"></i>
            </h5>
          </div>
      </div>
    </div>
   </section> -->
   <section class="project" id="project1">
    <div class="container" id="project_box">
    <div class="project-container">
      <div class="project-box">
        <img src="/assets/imgs/project2.jpg" id="project_img" alt="">
          <div class="project-layer">
            <h5>Build Responsive Wordpress Website.
             <p>Inthis project I used WordPressplugins and
              themes to develop this website and it's
              Perform a (CRUD) Operations like Create,
              Read, Update and Delete and it's supported
              the responsiveness of every device screen
              sizes like the content was perfectly support's
              the (Mobiles, Tablets and Laptops).
              </p>
              <i class="fa-solid fa-up-right-from-square"></i>
            </h5>
          </div>
      </div>
      </div>
    </div>
   </section>
   <section class="project" id="project1">
    <div class="container" id="project_box">
    <div class="project-container">
      <div class="project-box">
        <img src="/assets/imgs/project3.webp" id="project_img" alt="">
          <div class="project-layer">
            <h5>Project Links
              <p>
             <a href="https://jitubarbers.com/">Project 1</a>
             <a href="https://amazant.com/">Project 2</a>
             <a href="https://gsmtrust.org/">Project 3</a>
             <a href=""></a>
            </p>
              <i class="fa-solid fa-up-right-from-square"></i>
            </h5>
          </div>
      </div>
      </div>
    </div>
   </section>
  <!-- Contact Me  -->
   <!-- <div class="container-fluid contact_back">
    <div class="container space_contact">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <h2 class="contact_text">Contact Me</h2>
          <form action="">
            <input type="text" id="fname" name="fname" placeholder="Full Name" >
            <input type="text" id="fname" name="fname" placeholder="Email Adress">
          </form>
          <form action="">
            <input type="text" id="fname" name="fname" placeholder="Full Name" >
            <input type="text" id="fname" name="fname" placeholder="Email Adress">
          </form>
          <textarea name="massage" id=""></textarea>
        </div>
      </div>
    </div>
  </div>
   </div> -->
  
   <div class="container-fluid con_bg" id="contact">
    <h2 class="contact_form_text">Contact Me</h2>
    <div class="contanier ">
      <div class="row">
        <div class="col-md-6 con_size">
          <form action="">
            <input type="text" id="fname" name="fname" placeholder="Full Name" >
          </form>
        </div>
        <div class="col-md-6 space_col">
          <form action="">
            <input type="text" id="fname" name="fname" placeholder="Email" >
          </form>
        </div>
      </div>
    </div>
   <!-- </div> -->
   <!-- <div class="container-fluid"> -->
    <div class="contanier">
      <div class="row">
        <div class="col-md-6 con_size">
          <form action="">
            <input type="text" id="fname" name="fname" placeholder="Mobile Number" >
          </form>
        </div>
        <div class="col-md-6 space_col">
          <form action="">
            <input type="email" id="fname" name="fname" placeholder="Email Support" >
          </form>
        </div>
      </div>
    </div>
   <!-- </div> -->
   <!-- <div class="container-fluid"> -->
    <div class="contanier center_text">
      <div class="row">
        <div class="col-md-12">
          <textarea name="massage" id="area_text" placeholder="Massage"></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-6">
    <div class="submit_button">
    <button class="submit">Submit</button>
  </div>
  </div>
   </div>
  <!-- Contact Me  -->
  <script src="https://unpkg.com/scrollreveal"></script>
  
  
  <!-- footer  -->
   
  <div class="container-fluid back-footer">
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
      <div class="col-md-6">
        <h4 class="port_color">Portfolio</h4>
      </div>
      <div class="col-md-6">
        <div id="footer">
        <a href=""><i class="fa-brands fa-linkedin icon-size"></i></a>
        <a href=""><i class="fa-solid fa-phone icon-size"></i></a>
        <a href=""><i class="fa-brands fa-twitter icon-size"></i></a>
        <a href=""><i class="fa-solid fa-envelope icon-size"></i></a>
      </div>
      </div>
    </div>
  </div>
  
  <!-- footer  -->
  
  
  